[input_shaper]
# Supported shapers: zv, mzv, zvd, ei, 2hump_ei, 3hump_ei
shaper_freq_x: 54.6
shaper_type_x: mzv
shaper_freq_y: 51.8
shaper_type_y: ei

[adxl345]
cs_pin: PA15
spi_bus: spi3
#cs_pin: host:None
#spi_bus: spidev1.0
# axes_map: -z,y,x

[resonance_tester]
accel_chip: adxl345
probe_points:
    150,150,20
